<head>
  <title>egg</title>
</head>

<body>
	<!-- <div style="text-align:right">
		{{> loginButtons align="right"}}
	</div> -->
	{{> home}}
</body>



<template name="home">
	{{> click_area}}
	{{> circles}}
	{{> music}}
</template>


<template name="how_to">
	<div class="reveal">
	    <div class="slides">
	        <section>Single Horizontal Slide</section>
	        <section>
	            <section>Vertical Slide 1</section>
	            <section>Vertical Slide 2</section>
	        </section>
	    </div>
	</div>

</template>


<template name="click_area">
  <div>
	<br><br>
  </div>
<!--   <div style="padding-left:10%">
  	<input type="text" width="20%" class="title" />
    <div type="button" class="btn btn-primary save_circles">save</div>
  </div> -->

</template>


<template name="circles">
	<svg width="100%" height="100%">
		<g>
		</g>
	</svg>
</template>


<template name="saved_circles">
	{{#each circles}}
		{{title}}
		<svg >
		{{#each circles_array}}
			<circle cx="{{cx}}" cy="{{cy}}" r="{{smaller_radius radius}}" fill-opacity="0.68" style="fill: {{color}}"></circle>
		{{/each}}
		</svg>
	{{/each}}
</template>



<template name="music">
	<audio id="audio1">  
	   <source src="music/archive/1.mp3" />  
	</audio> 
	<audio id="audio2">  
	   <source src="music/archive/2.mp3" /> 
	</audio> 
	<audio id="audio3">  
	   <source src="music/archive/3.mp3" /> 
	</audio> 
	<audio id="audio4">  
	   <source src="music/archive/4.mp3" /> 
	</audio> 
</template>

